<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog sample</title>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="../components/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../components/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="../base.css">
</head>
<body>

<header></header>
<section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="body-left" class="span3 pull-left"></div>
            <div id="body-center" class="span6"></div>
            <div id="body-right" class="span3 pull-right"></div>
        </div>
    </div>
</section>
<footer></footer>

<!-- JS Libraries -->
<script type="text/javascript" src="components/jquery/jquery.js"></script>
<script type="text/javascript" src="components/handlebars/handlebars.js"></script>
<script type="text/javascript" src="components/underscore/underscore.js"></script>
<script type="text/javascript" src="components/backbone/backbone.js"></script>
<script type="text/javascript" src="components/backbone.babysitter/lib/backbone.babysitter.js"></script>
<script type="text/javascript" src="components/backbone.wreqr/lib/backbone.wreqr.js"></script>
<script type="text/javascript" src="components/marionette/lib/backbone.marionette.js"></script>
<script type="text/javascript" src="components/bootstrap/js/bootstrap.js"></script>

<!-- Application sources -->
<script type="text/javascript" src="src/customizations.js"></script>
<script type="text/javascript" src="src/utils.js"></script>
<script type="text/javascript" src="src/regions.js"></script>
<script type="text/javascript" src="src/models.js"></script>
<script type="text/javascript" src="src/collections.js"></script>
<script type="text/javascript" src="src/views.js"></script>
<script type="text/javascript" src="src/modules.js"></script>

<!-- Module dependencies -->
{{modulesJs}}

<script type="text/javascript" src="src/app.js"></script>

</body>
</html>
